.form-group {
    padding: 20px 8px;
    position: relative;
}

/* input type text and email */

.form-group > input[type="text"],
.form-group > input[type="email"],
.form-group > textarea {
    display: block;
    border: 0;
    border-bottom: solid 1px #ccd;
    padding: 5px 0;
    font-size: 20px;
}
.form-group > input[type="text"]:focus,
.form-group > input[type="email"]:focus,
.form-group > textarea:focus {
    border-bottom: solid 2px #B2700E;
}

/* remove border when input is focused */
.form-group > input:focus,
.form-group > textarea:focus {
    outline: none;
}

.form-group > label {
    position: absolute;
    top: 25px;
    left: 8px; /* same as padding in form-group */
    font-size: 20px; /* same as input */
    transition: ease .3s;
}

/* We need put label *after* input because
   css3 hasn't selector for "followed by" elements */
.form-group > input:focus ~ label,
.form-group > input:valid ~ label,
.form-group > textarea:focus ~ label,
.form-group > textarea:valid ~ label
 {
    color: #B2700E;
    font-weight: bolder;
    font-size: small;
    top: 0;
}

.form-group > input[value]:invalid ~ label {
    color:darkred;
}

input[type="submit"] {
    background: #FFA828;
    padding: 8px;
    border: 0;
    font-size: 18px;
    font-family: Monserrat, "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 50%;
    max-width: 150px;
}
