.form-group, .form-actions {
    padding: 20px 8px;
    position: relative;
}

/* input type text and email */

input[type="text"],
input[type="email"],
textarea {
    display: block;
    border: 0;
    border-bottom: solid 1px #ccd;
    padding: 5px 0;
    font-size: 20px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-bottom: solid 2px #B2700E;
}

/* remove border when input is focused */
input[type="text"]:focus,
textarea:focus {
    outline: none;
}

input[type="text"] ~ label,
textarea ~ label {
    position: absolute;
    top: 25px;
    left: 8px; /* same as padding in form-group */
    font-size: 20px; /* same as input */
    transition: ease .3s;
}

/* We need put label *after* input because
   css3 hasn't selector for "followed by" elements */
input[type="text"]:focus ~ label,
input[type="text"]:valid ~ label,
textarea:focus ~ label
 {
    color: #B2700E;
    font-weight: bolder;
    font-size: small;
    top: 0;
}

.form-group > input[value]:invalid ~ label {
    color:darkred;
}

input[type="submit"] {
    background: #FFA828;
    padding: 8px;
    border: 0;
    font-size: 18px;
    font-family: Monserrat, "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 50%;
    max-width: 150px;
}

.form-group > .group-title {
    font-size: 20px;
    margin-bottom: .5em;
}

#knownbyother {
    visibility: hidden;
    border: 0;
    border-bottom: solid 1px #ccd;
    padding: 5px 0;
    font-size: 20px;
}

#knownbyother:focus {
    outline: none;
    border-bottom: solid 2px #B2700E;
}

fieldset {
    border: 0;
}

/* first, hide the original radio button */
.form-group > .radio-control > input[type=radio] {
    position: absolute;
    display: none;
}

/* make some space to draw custom radio before field label */
.form-group > .radio-control > input[type=radio] + label {
    position: relative;
    padding-left: 2em;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
}

/* Draw custom radio before field label
   This is the 'unchecked' state. */
.form-group > .radio-control > input[type=radio] + label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -9px;
    border: 2px solid #ccd;
    border-radius: 50%;
    transition: border 0.4s ease;
}

/* change color if checked */
.form-group > .radio-control > input[type=radio]:checked + label:before {
    border: 2px solid #B2700E;
}

/* draw checked state, but hide until checked */
.form-group > .radio-control > input[type=radio] + label:after {
    border-radius: 50%;
    content: '';
    background-color: #FFA828;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    /* use scale to make some smooth check-in */
    transform: scale(0);
    transform-origin: 50%;
    transition: transform .04s ease;
}

/* show checked state */
.form-group > .radio-control > input[type=radio]:checked + label:after {
    transform: scale(1);
}

/* we can do this with JavaScript, but it's a presentation concern */
#knownby4:checked ~ #knownbyother {
    visibility: visible;
}