.navbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 9999;
    animation: fadeDownward .7s ease-in-out forwards;
    transition: background-color 1s ease;
}

/* class to make navbar stick on top of the screen */
.fixed-navbar {
    position: fixed;
    top: 0;
    bottom: auto;
    background: rgba(17, 17, 51, 1);
}

.navbar .logo {
    font-family: Lato;
    float: left;
    color: #ffffff;
    font-size: 30px;
    margin-left: 8px;
    opacity: 0;
    animation: fadeUpward 1s ease-out .5s forwards;
}

.navbar .logo > span {
    color: #FFA828;
}

.navbar > .navbar-list {
    float: right;
}

.navbar > .navbar-list > .navbar-list-item {
    display: inline;
}

.navbar > .navbar-list > .navbar-list-item a {
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    color: #FFFFFF;
    font-family: Courier New, Courier, monospace;
}

.navbar > .navbar-list > .navbar-list-item a:before {
    content: "< ";
}

.navbar > .navbar-list > .navbar-list-item a:after {
    content: " />";
}

.navbar > .navbar-list > .navbar-list-item.active a::after {
    content: "* >";
}

.navbar > .navbar-list > .navbar-list-item a:hover::before {
    content: "[ ";
}

.navbar > .navbar-list > .navbar-list-item a:hover::after {
    content: " /]";
}
