.skills-container {
    margin-right: 5%;
}

.progress-bar {
    padding: 5px;
}

.progress-bar > h4 {
    margin: .3em auto;
}

.progress-bar > .progress-bar-space {
    display: block;
    position: relative;
    height: 6px;
    width: 100%;
    background: #ddf;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar > .progress-bar-space > .progress-bar-value {
    height: 6px;
    background: #FFA828;
    width: 0;
}

.progress-bar-value.p0 {
    width: 0;
}

.progress-bar-value.p10 {
    width: 10%;
    animation: p10 1s ease-in-out .3s forwards;
}

.progress-bar-value.p20 {
    width: 20%;
    animation: p20 1s ease-in-out .3s forwards;
}

.progress-bar-value.p30 {
    width: 30%;
    animation: p30 1s ease-in-out .3s forwards;
}

.progress-bar-value.p40 {
    width: 40%;
    animation: p40 1s ease-in-out .3s forwards;
}

.progress-bar-value.p50 {
    width: 50%;
    animation: p50 1s ease-in-out .3s forwards;
}

.progress-bar-value.p60 {
    width: 60%;
    animation: p60 1s ease-in-out .3s forwards;
}

.progress-bar-value.p70 {
    width: 70%;
    animation: p70 1s ease-in-out .3s forwards;
}

.progress-bar-value.p80 {
    width: 80%;
    animation: p80 1s ease-in-out .3s forwards;
}

.progress-bar-value.p90 {
    width: 90%;
    animation: p90 1s ease-in-out .3s forwards;
}

.progress-bar-value.p100 {
    width: 100%;
    animation: p100 1s ease-in-out .3s forwards;
}

@keyframes p10 {
    0% {
        width: 0;
    }
    100% {
        width: 10%;
    }
}


@keyframes p20 {
    0% {
        width: 0;
    }
    100% {
        width: 20%;
    }
}


@keyframes p30 {
    0% {
        width: 0;
    }
    100% {
        width: 30%;
    }
}


@keyframes p40 {
    0% {
        width: 0;
    }
    100% {
        width: 40%;
    }
}


@keyframes p50 {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}


@keyframes p60 {
    0% {
        width: 0;
    }
    100% {
        width: 60%;
    }
}


@keyframes p70 {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}


@keyframes p80 {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}


@keyframes p90 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}


@keyframes p100 {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}