.popup-section > h1 {
    text-align: center;
}

.question-wrapper {
    max-width: 500px;
    margin: auto;
}

.buttons-wrapper {
    position: absolute;
    text-align: center;
    padding: 1em;
    bottom: 1em;
    width: 100%;
}

.trivia-true-btn {
    background-color: green;
    color: #FFFFFF;
}

.trivia-false-btn {
    background-color: darkred;
    color: #FFFFFF;
}

[class*="trivia-result-"] {
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    text-align: center;
    border: solid 1px #ccc;
    padding: 1em;
    font-size: 3em;
    font-weight: bold;
    display: none;
}

[class*="trivia-result-"].visible {
    display: block;
    opacity: 0;
    animation: fadeAndZoom .6s ease-in-out forwards;
}

.trivia-result-correct {
    background-color: lightgreen;
    color: darkgreen;
}

.trivia-result-fail {
    background-color: lightcoral;
    color: darkred;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    background-color: transparent;
    -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    -ms-transition: background-color 300ms ease;
    -o-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    padding: 5px;
    min-width: auto;
}

.close-btn:hover {
    background-color: darkred;
    color: white;
}

[class*="trivia-counter-"] {
    position: absolute;
    text-align: center;
    bottom: 18px;
    background-color: #333;
    color: #FFFFFF;
    min-width: 100px;
}

[class*="trivia-counter-"] > p {
    font-size: 60px;
    font-weight: bold;
}

[class*="trivia-counter-"] p:first-child {
    font-size: 14px;
    background-color: #ccc;
    color: #333;
    margin: 0;
    text-transform: uppercase;
}

.trivia-counter-ok {
    left: 18px;
}

.trivia-counter-fail {
    right: 18px;
}

.trivia-loading {
    display: none;
    text-align: center;
    position: absolute;
    width: 100%;
}

.trivia-loading.visible {
    display: block;
}
